# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 871a1e836dabef1191672db6261f1e3177ecf0ea57648bb90cc81f8895567891dcba199ba7555b2b617e73ccec8ae1356fa10bdc2243b32deb625cdb611821be

test:
  secret_key_base: 6b5747f04dc8cb8fe8e74ec931da6cd436b6970bba5c3bd6cfd5806e223777d6b50b7655adfc35fca93a9f8e261930e88991276b3091b942ad7bc794810193d5

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
